html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  margin-left: auto;
  margin-right: 10px;
}

header nav a {
  color: white;
}

.main-image-container {
  display: flex;
  justify-content: center;
}

.main-image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  display: flex;
  align-items: center;
  height: 700px;
  width: 1200px;
}

.image-content {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#mini-pics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin: 20px;
}

.item span {
  margin-top: 10px;
}

.item img {
  height: 200px;
  width: 300px;
}

.second-image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 300px;
  opacity: 1;
  background-color: black;
  margin
}
