html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  /*how do I make this header fixed?  "postion: fixed;" is messing up the page. */
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  margin-left: auto;
  margin-right: 10px;
}

header nav a {
  color: white;
}

.main-image-container {
  display: flex;
  justify-content: center;
}

.main-image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  display: flex;
  align-items: center;
  height: 700px;
  width: 1200px;
}

.image-content {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#mini-pics {
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  margin: auto;
  text-align: center;
}

.flex-container-row-one-items {
  text-align: center;
  display: flex;
  justify-content: center;
}

.flex-container-row-two-items {
  display: flex;
  justify-content: center;
}

.item {
  padding: 5px;
}

.item span {
  margin-top: 10px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.item span {
  display: block;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
}

.submain-image-container {
  display: flex;
  justify-content: center;
}

.second-image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
  /*How do I make the "Locations" text closer to the black boxes in the image?*/
}

.flex-container.items {
  display: flex;
  flex-wrap: wrap;
}

.text-box {
  text-align: center;
  margin: 15px 20px;
  width: 300px;
  opacity: 1;
  background-color: black;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.copyright {
  margin-left: 20px;
}
